.button{
    padding: .8rem 3rem;
    border: 2px solid #90e242;
    background: #90e242;
    border-radius: 15px;
    font-size: 18px;
    font-weight: 600;
    transition: .3s all;
}
.button:hover{
    background-color: white;
}