.landing-wrapper{
    width: 100%;
    height: 100vh;
    transition: .4s all;
}

.landing-page-container{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    align-items: center;
    justify-content: center;
    color: white;
}
.landing-page-container h1{
    font-size: 3.2rem;
    word-spacing: 3px;
    transition: .4s all;
}
.landing-page-container h1 span{
    padding: 1rem 2rem;
    border-radius: 15px;
}
.toggle-container{
    width: 84px;
    height: 40px;
    border-radius: 2rem;
    /* background: rgb(0, 0, 0); */
    padding: .4rem .3rem;
    position: absolute;
    top: 2%;
    right: 2%;
    display: flex;
    align-items: center;
    transition: .4s all;
}
.toggle-button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.btn-container{
    display: flex;
    gap: 1.2rem;
    align-items: center;
}
@media screen and (max-width:765px) {
    .landing-page-container h1{
        font-size: 22px;
    }
    .toggle-container{
        width: 64px;
        height: 28px;
    }
    .toggle-button{
        width: 28px;
        height: 28px;
        border-radius: 50%;
    }
    .btn-container{
        flex-direction: column;
    }
}

.organize-btn{
    display: flex;
    padding: .5rem .5rem;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    text-decoration: none;
}
.organize-btn .Obtn{
    padding: 1rem 1.6rem;
    background: red;
    border-radius: 10px;
    font-size: 18px;
    text-decoration: none;
    color: white;
    font-weight: 600;
    transition: .4s all;
}
.organize-btn .Obtn:hover{
    background: transparent;
    color: red;
}
.organize-btn div{
    padding: 0 .7rem;
    font-size: 20px;
}
.button{
    padding: 1.5rem 2.2rem;
    border-radius: 2rem;
    font-size: 18px;
    font-weight: 600;
    background: rgb(0, 119, 237);
    color: white;
    transition: .4s all;
    border: none;
    text-decoration: none;
}
.button:hover{
    background: rgb(0, 68, 135);
}
.para{
    font-size: 18px;
    color: grey;
    font-weight: 700;
}

.bw{
    background: white;
}
.bb{
    background: black;
}
.cw{
    color: white;
}
.cb{
    color: black;
}
.fs{
    justify-content: flex-start;
}
.fe{
    justify-content: flex-end;
}
