*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.app{
    width: 100%;
    height: 100vh;
}
@media screen and (max-width:765px) {
    .app{
        height: calc(100vh - 6.5vh);
        overflow: hidden;
    }
}