*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.app{
    width: 100%;
    height: auto;
}
.para {
    font-size: 17px ;
    font-weight: 600;
    color: grey;
}
.bw{
    background: white;
}
.bb{
    background: black;
}
.cw{
    color: white;
}
.cb{
    color: black;
}
.fs{
    justify-content: flex-start;
}
.fe{
    justify-content: flex-end;
}
