@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');
.join-form-container{
    width: 100%;
    height: 100%;
    background: #90e242 ;
    display: flex;
    flex-direction: column;
}
.join-form-container .form-header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 0;
}
.form-header h2{
    font-size: 28px;
    font-family: novasquare ,sans-serif;
}
.form-input-wrapper{
    width: 96%;
    height: 90%;
    margin: 0 auto;
    background: black;
    border-radius: 2rem 2rem 0 0;
    overflow: scroll;
    padding: 2rem;
}
.form-input-wrapper::-webkit-scrollbar{
    display: none;
}
.form-input-wrapper .row .input-wrapper .org-input{
    height: 45px;
    padding: .3rem 1rem;
}
.form-input-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}
.row{
    width: 30%;
    display: grid;
    grid-template-rows: 1.7fr;
    gap: 1.5rem;
}

@media screen and (max-width:765px) {
    .form-input-container{
        flex-direction: column;
    }
    .row{
        width: 100%;
        gap: .8rem;
    }
}
