@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');
.join-form-container{
    width: 100%;
    height: 100vh;
    background: #90e242 ;
    display: flex;
    flex-direction: column;
}
.join-form-container .form-header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 0;
}
.form-header h2{
    font-size: 28px;
    font-family: novasquare ,sans-serif;
}
.form-input-wrapper{
    width: 96%;
    height: 90%;
    margin: 0 auto;
    background: black;
    border-radius: 3rem;
    overflow: scroll;
    padding: 2rem;
}
.form-input-wrapper::-webkit-scrollbar{
    display: none;
}
.form-input-container{
    height: 100%;
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}
.row{
    width: 500px;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

@media screen and (max-width:765px) {
    .form-input-container{
        flex-direction: column;
    }
    .row{
        width: 100%;
    }
}
